html {
  --text-color: black;
  --mark-blue: #aad6fb;
  --mark-pink: #ffaabf;
  --mark-yellow: #fcf3b0;
  --mark-purple: #daa9ff;
  --mark-orange: #f6c6b5;
  --mark-green: #d3f3e6;
}

body {
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.05em;
  user-select: none;
}

header {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  max-height: 35px;
  margin: 0 auto;
  padding: 10px;
  position: sticky;
  top: 0;
  text-align: center;
  z-index: 1;
}

main {
  padding: 10px;
}

main,
.greetings {
  margin: 0 auto;
  max-width: 500px;
}

h1 {
  font-size: 1.5em;
}

.greetings {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1em;
  font-style: italic;
  text-align: center;
  max-width: 800px;
  vertical-align: middle;
  display: inline-block;
}

.list {
  display: block;
  list-style: none;
  margin: 0 auto;
  max-width: 500px;
  padding: 0;
}

.list > li {
  background-color: #fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  border-radius: 6px;
  display: grid;
  font-size: 0.75em;
  grid-template-columns: 65% 35%;
  margin: 5px;
  padding: 7px;
}

.list > li > span {
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
}

.list-header {
  font-size: 0.8em;
  font-weight: bold;
  text-align: left;
}

.meal:hover {
  color: #fff;
  background-color: #2EE59D;
  box-shadow: 0px 10px 15px rgba(46, 229, 157, 0.4);
  font-size: 0.85em;
  font-weight: bold;
  transform: translateY(-2px);
}

.name {
  text-align: left;
}

.rating {
  text-align: right;
}

.guide {
  margin-left: 9px;
}

.order {
  border: 1px solid #222;
  text-align: center;
}

.order:hover {
  color: #fff;
  background-color: #2EE59D;
  border: none;
  box-shadow: 0px 10px 15px rgba(46, 229, 157, 0.4);
  font-weight: bold;
  padding: inherit;
}

.order-list {
  display: none;
}

.add-confirm {
  margin: 0 auto;
  width: fit-content;
}

.confirm {
  margin-bottom: 70px;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  max-width: 500px;
  cursor: default;
  background-color: var(--mark-green);
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  display: inline-block;
  font-size: 14px;
  padding: 7px;
  vertical-align: middle;
}

.confirm > p {
  margin: 0 auto;
  width: fit-content;
  text-align: left;
  line-height: 1.5;
  padding: 7px;
}

.spans {
  margin: 0 auto;
  width: fit-content;
  float: right;
}

.spans > span {
  margin: 5px;
  background: aquamarine;
  padding: 7px;
  font-size: 12px;
  text-align: center;
  width: 200px;
}
