body {
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.05em;
  user-select: none;
}

header {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

main {
  padding: 10px;
}

main, .greetings {
  margin: 0 auto;
  max-width: 500px;
}

h1 {
  font-size: 1.5em;
}

.greetings {
  font-weight: bold;
  font-size: 1em;
  font-style: italic;
}

.list {
  display: block;
  list-style: none;
  margin: 0 auto;
  max-width: 500px;
  padding: 0;
}

.list > li {
  background-color: #fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  border-radius: 6px;
  display: grid;
  font-size: 0.75em;
  grid-template-columns: 65% 35%;
  margin: 5px;
  padding: 7px;
}

.list > li > span {
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
}

.list-header {
  font-size: 0.8em;
  font-weight: bold;
  text-align: left;
}

.meal:hover {
  color: #fff;
  background-color: #2EE59D;
  box-shadow: 0px 10px 15px rgba(46, 229, 157, 0.4);
  font-size: 0.85em;
  font-weight: bold;
  transform: translateY(-2px);
}

.name {
  text-align: left;
}

.rating {
  text-align: right;
}

.greetings,
.guide {
  margin-left: 9px;
}

.order {
  border: 1px solid #222;
  text-align: center;
}

.order:hover {
  color: #fff;
  background-color: #2EE59D;
  border: none;
  box-shadow: 0px 10px 15px rgba(46, 229, 157, 0.4);
  font-weight: bold;
  padding: inherit;
}

.order-list {
  display: none;
}
